<%- include('header') -%>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>dummy text</p>
            </div>
        </div>
    </div>
</section>
<%- include('footer') -%>