<%- include('header') -%>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Uh, oh. Guess you didn't make it. Not everyone can be the final girl.
                </p>
                <a href="/">
                    <button class="btn btn-lg btn-outline-dark">Return Home</button>
                </a>
            </div>
        </div>
    </div>
<%- include('footer') -%>