<section id="footer">
    <div class="container-fluid">
        <div class="row h-100 footer-nav">
            <div class="col-lg-7 col-md-12 col-sm-12 my-auto">
                <a href="https://twitter.com/search?q=%23keepitcreepy&src=typd" id="hashtag">
                    <h1 class="text-center">#KeepItCreepy</h1>
                </a>
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 my-auto">
                <ul class="nav flex-column text-right">
                    <li class="nav-item">
                        <a href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Listen</a>
                    </li>
                    <li class="nav-item">
                        <a href="">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-sm 12 my-auto">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-icon">
                        <a href="http://www.twitter.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                            <button class="btn btn-lg btn-outline-light">
                                <i class="fab fa-twitter fa-2x"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 footer-icon">
                        <a href="http://www.facebook.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                            <button class="btn btn-lg btn-outline-light">
                                <i class="fab fa-facebook fa-2x"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 footer-icon">
                        <a href="http://instagram.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                            <button class="btn btn-lg btn-outline-light">
                            <i class="fab fa-instagram fa-2x"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-lg-1 col-md-12 col-sm-12 footer-icon">
                        <a href="mailto:cast@terrorinpodnito.com">
                            <button class="btn btn-lg btn-outline-light">
                            <i class="fas fa-envelope fa-2x"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col" id="copyright">
                        <p>Copyright &copy; Terror InPodnito 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>