<section class="subsequent" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Listen</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-sm 12">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <a href="http://www.twitter.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter fa-4x"></i>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <a href="http://www.facebook.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook fa-4x"></i>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <a href="http://instagram.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram fa-4x"></i>
                        </a>
                    </div>

                    <div class="col-lg-1 col-md-12 col-sm-12">
                        <a href="mailto:cast@terrorinpodnito.com">
                            <i class="fas fa-envelope fa-4x"></i>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <p>Copyright &copy; Terror InPodnito 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>