<%- include('header') -%>
<section class="subsequent" id="listen">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3>Welcome to Terror InPodnito</h3>
                <h3>We cover all things horror and how it relates to the pop-culture zeitgiest. Be entertained, be
                    intrigued, but most of
                    all be warned...</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://itunes.apple.com/us/podcast/terror-inpodnito/id1291133248?mt=2" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-lg btn-outline-dark">iTunes</button>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://play.google.com/music/listen?u=0#/ps/Ixbxht5evxf7un3rg3fydy5jgki" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-lg btn-outline-dark">Google Play</button>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://www.stitcher.com/podcast/dead-meat" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-lg btn-outline-dark">Stitcher</button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="subsequent" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <img src="images/tiplogo.png" alt="tip-logo" id="circle-logo">
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <h3>Let your hosts Palmer, Alex, and Sam guide you through the terrifying world of horror as we analyze
                    fan-favorite genre pieces throughout the years. We'll cover films, games, books, TV shows, and more
                    as we attempt to
                    slice, dice, and tenderize some meaty chunks of horror for your listening pleasure.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm 12 text-center">
                <img src="images/alex-host.jpg" alt="alex-host" class="host">
                <h1>Alex</h1>
                <p>Alex adds a touch of class. In spite of the amount of alcohol she consumes on a weekly basis, she
                    emerges as the
                    feminine voice that grounds the overwhelmingly male horror perspective. She appreciates '80s bush,
                    Whatever Happened to Baby Jane, overflowing glasses
                    of vodka, Joe Dante and the original Halloween film. What more do you need?</p>
                <a href="http://www.twitter.com/alooters" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-lg btn-outline-dark">
                        <i class="fab fa-twitter"></i> @alooters
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm 12 text-center">
                <img src="images/palmer-host.jpg" alt="palmer-host" class="host">
                <h1>Palmer</h1>
                <p>Palmer exists to bring a certain level of snobbery to the podcast. When the others are hellbent on
                    actually enjoying
                    themselves he is steadfast in his ability to remain high-brow. He's a Cronenberg enthusiast and
                    lover of schlock
                    exploitation. If it's foreign and has tons of gore, chances are it was his idea to talk about it.</p>
                <a href="http://www.twitter.com/sturmsworth" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-lg btn-outline-dark">
                        <i class="fab fa-twitter"></i> @sturmsworth
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm 12 text-center">
                <img src="images/sam-host.jpg" alt="sam-host" class="host">
                <h1>Sam</h1>
                <p>Sam only shows up to take Alex's side and antagonize Palmer. After a guest spot went horribly right,
                    he joined the
                    podcast full time, but maintains a zero responsibility policy and treats it like a captive locked
                    in a basement. A
                    lover of camp and comedy, any quirky horror film will probably leave him excitedly drooling with
                    too little time in his
                    day to rave about it.</p>
                <a href="http://www.twitter.com/samheebz" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-lg btn-outline-dark">
                        <i class="fab fa-twitter"></i> @samheebz
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="subsequent" id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="http://www.twitter.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter fa-7x"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="http://www.facebook.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook fa-7x"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="http://instagram.com/terrorinpodnito" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram fa-7x"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="mailto:cast@terrorinpodnito.com">
                    <i class="fas fa-envelope fa-7x"></i>
                </a>
            </div>
        </div>
        <!-- Instagram API here -->
        <div class="row">
                <div class="col">
                    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="//lightwidget.com/widgets/1c850e116dec5d959daf78d875808d28.html" scrolling="no" allowtransparency="true"
                        class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <a href="#">
                    <div class="follow-button">
                        <a href="https://www.instagram.com/terrorinpodnito" target="_blank">
                            <button class="btn btn-lg btn-outline-dark" type="button"><i class="fab fa-instagram"></i></button>
                        </a>
                    </div>
                </a>
            </div>
        </div>
        <!-- Twitter API here -->
        <div class="row text-center">
            <div class="col">
                <div id="twitter-api">
                    <a class="twitter-timeline" data-width="800" data-height="600" data-link-color="#f91224" data-chrome="transparent noheader nofooter noborders"
                        href="https://twitter.com/terrorinpodnito?ref_src=twsrc%5Etfw">Tweets by @TerrorInPodnito</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <a href="#">
                    <div class="follow-button">
                        <a href="https://www.twitter.com/terrorinpodnito" target="_blank">
                            <button class="btn btn-lg btn-outline-dark" type="button"><i class="fab fa-twitter"></i></button>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="subsequent" id="newsletter">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>Newsletter Signup</h1>
                <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" name="fName" id="f-name" autocomplete="off" placeholder="First Name">
                        <input type="text" name="lName" id="l-name" autocomplete="off" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" autocomplete="off" placeholder="Enter Your Email">
                        <small id="email-help" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-light">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="subsequent" id="blog">

</section>

<%- include('footer') -%>