<%- include('header') -%>
<section id="post-success">
    <div class="container subsequent">
        <div class="row">
            <div class="col">
                <p>Your post has been successfully created.</p>
                <a href="/">
                    <button class="btn btn-lg btn-outline-dark">Return Home</button>
                </a>
                <a href="/create-post">
                    <button class="btn btn-lg btn-outline-dark">Create Another Post</button>
                </a>
            </div>
        </div>
    </div>
</section>
<%- include('footer') -%>