<%- include('header') -%>
<section id="post-success">
    <div class="container subsequent">
        <div class="row">
            <div class="col">
                <h1>Error: Wrong Dimensions</h1>
                <p>Your image's dimensions are incorrect. Please use an image that is exactly 800 x 300px.</p>
                <a href="/create-post">
                    <button class="btn btn-lg btn-outline-dark">Try Again</button>
                </a>
            </div>
        </div>
    </div>
</section>
<%- include('footer') -%>