<%- include('header') -%>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Thanks for joining. Your emails will be legendary, even in hell!
                </p>
                <a href="/">
                    <button class="btn btn-lg btn-outline-dark">Return Home</button>
                </a>
            </div>
        </div>
    </div>
<%- include('footer') -%>